# Ignore scripts and logs
*.ps1
*.js
!app.js
!loadData.js
!helpers.js
!filters.js
!current_script.js
!dados.js
!sw.js

# Ignore sensitive files and data
credentials.json
.env
*.csv
*.tsv
*.pdf
*.txt
!descritivo_orcamentos.txt

# Keep HTML and CSS
!*.html
!style.css
!importacao.js
